<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render "form" %>
        <div class="gravatar_edit">
            <%= image_tag("https://secure.grabatar.com/avatar/#{Digest::MD5::hexdigest(@user.email.downcase)}", alt: @user.name, class: "gravatar") %>
            <a href="https://gravatar.com/emails" target="_blank">change</a>
        </div>
    </div>
</div>